:root {
    --global-primary-color: #1890ff;
    --global-success-color: #52c41a;
    --global-danger-color: #ff4d4f;
    --global-warning-color: #faad14;
    --global-info-color: #13c2c2;
    --global-purple-color: #722ed1;
    --global-pink-color: #eb2f96;
    --global-indigo-color: #2f54eb;

    --global-primary-color-rgb: 24, 144, 255;
    --global-success-color-rgb: 82, 196, 26;
    --global-danger-color-rgb: 255, 77, 79;
    --global-warning-color-rgb: 250, 173, 20;
    --global-info-color-rgb: 19, 194, 194;
    --global-purple-color-rgb: 114, 46, 209;
    --global-pink-color-rgb: 235, 47, 150;
    --global-indigo-color-rgb: 47, 84, 235;
}

/*样式重置*/
body {
    background-color: #f5f7f9;
}

input[readonly] {
    cursor: pointer;
}

.layui-content {
    padding: 15px;
}

.layui-circle,
.layui-square {
    object-fit: cover;
}

/*表格*/
.layui-table-cell {
    height: auto;
}

.layui-table {
    color: #333;
}

/*表单*/
label.layui-required:before {
    content: "*";
    color: red;
    margin-right: 2px;
}

.layui-form-item > .layui-form-label {
    width: 120px;
}

.layui-form-item > .layui-input-block {
    margin-left: 150px;
}

/*选项卡*/
.layui-tab {
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #f6f6f6;
}

.layui-tab .layui-tab-content {
    padding: 10px 15px;
    line-height: 24px;
}

.layui-tab .layui-tab-title {
    margin: 0 10px;
    border-bottom: 1px solid #f6f6f6;
}

.layui-tab .layui-tab-title li {
    line-height: 42px;
    margin-left: 10px;
}

.layui-tab .layui-tab-title li:first-child {
    margin-left: 0;
}

/*******公共样式***********/
.easy-float-left {
    float: left;
}

.easy-float-right {
    float: right;
}

/*左侧导航主题*/
.easy-layout .layui-bg-black {
    background-color: #191a23 !important;
}

.easy-layout .layui-nav-itemed > .layui-nav-child,
.easy-layout .layui-side .layui-nav-child {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.easy-layout .layui-side, .layui-nav,
.easy-layout .layui-logo {
    background-color: #191a23;
}

.easy-layout .layui-nav-tree .layui-nav-item a {
    height: 45px;
    line-height: 45px;
}

.easy-layout .layui-nav-child {
    padding: 0;
}

.easy-layout .layui-nav-tree > .layui-nav-item .layui-nav-child a {
    padding-left: 30px;
}

.easy-layout .layui-nav-tree > .layui-nav-item .layui-nav-child .layui-nav-child a {
    padding-left: 45px;
}

/*头部主题*/
.easy-layout .layui-header {
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.easy-layout .layui-header .layui-nav .layui-nav-item a {
    color: #333;
}

/*布局底部*/
.easy-layout.layui-layout-admin .layui-body {
    padding-bottom: 0;
}

/*隐藏菜单*/
.easy-layout .layui-side,
.easy-layout .layui-body,
.easy-layout .layui-header .layui-logo,
.easy-layout .layui-header .layui-layout-left {
    transition: all 0.3s;
}


.easy-layout.easy-layout-hide-side .layui-side,
.easy-layout.easy-layout-hide-side .layui-logo {
    left: -200px;
}

.easy-layout.easy-layout-hide-side .layui-body,
.easy-layout.easy-layout-hide-side .layui-header .layui-layout-left {
    left: 0;
}

/*加载等待*/
.easy-loading {
    color: #fff;
    padding: 5px 0;
}

.easy-loading .layui-icon {
    font-size: 28px;
}

/*表单按钮*/
.layui-form-item-button .layui-input-block {
    position: relative;
    padding-right: 95px;
}

.layui-form-item-button .layui-input-block button {
    position: absolute;
    right: 0;
    top: 0;
}

/*面包屑导航*/
.easy-breadcrumb {
    padding: 15px;
    background-color: #fff;
    position: relative;
}

.easy-breadcrumb a {
    color: #333 !important;
}

.easy-breadcrumb-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border-radius: 50%;
    background-color: #eee;
    display: none;
}

.easy-breadcrumb-close-show {
    display: block !important;
}

.easy-breadcrumb-close:hover {
    background-color: #e7e7e7;
}

/*弹出iframe框主题*/
.easy-layout .easy-layout-iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.easy-frame.layui-layer-border {
    border: none;
}

.easy-frame-transparent .layui-layer-load {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.easy-frame-transparent.layui-layer {
    background-color: transparent !important;
}

.easy-frame-transparent.layui-layer-border {
    border: none;
}

/*xmSelect*/
xm-select > .xm-body {
    animation-name: layui-upbit !important;
}

xm-select > .xm-body .xm-body-tree .xm-option-content {
    color: #000;
}

xm-select > .xm-body .xm-body-tree .xm-tree-icon {
    border-left-color: #333;
}

xm-select > .xm-body .xm-body-tree .selected .xm-tree-icon {
    border-left-color: #fff;
}

xm-select > .xm-body .xm-body-tree .xm-tree-icon {
    transition: none;
    -webkit-transition: none;
}

/*弹出层*/
.easy-alert {
    border: 1px solid var(--global-primary-color);
    background-color: rgba(var(--global-primary-color-rgb), 0.15);
    border-radius: 2px;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}

.easy-alert::after,
.easy-alert::before {
    content: "";
    display: table;
    clear: both;
}

.easy-alert .easy-alert-icon {
    width: 70px;
    float: left;
    color: var(--global-primary-color);
}

.easy-alert .easy-alert-icon i {
    font-size: 46px;
}

.easy-alert .easy-alert-content {
    padding-right: 30px;
}

.easy-alert .easy-alert-icon + .easy-alert-content {
    margin-left: 70px;
}

.easy-alert .easy-alert-content h3 {
    color: var(--global-primary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.easy-alert .easy-alert-content p {
    color: var(--global-primary-color);
}

.easy-alert .easy-alert-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.easy-alert .easy-alert-close i {
    color: #666;
    font-size: 16px;
    opacity: 0.4;
}

.easy-alert .easy-alert-close:hover i {
    opacity: 1;
}

.easy-alert.easy-alert-primary {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.easy-alert.easy-alert-primary .easy-alert-icon,
.easy-alert.easy-alert-primary .easy-alert-content h3,
.easy-alert.easy-alert-primary .easy-alert-content p,
.easy-alert.easy-alert-primary .easy-alert-close i {
    color: #666;
}

.easy-alert.easy-alert-primary {
    border: 1px solid var(--global-primary-color);
    background-color: rgba(var(--global-primary-color-rgb), 0.15);
}

.easy-alert.easy-alert-primary .easy-alert-icon,
.easy-alert.easy-alert-primary .easy-alert-content h3,
.easy-alert.easy-alert-primary .easy-alert-content p,
.easy-alert.easy-alert-primary .easy-alert-close i {
    color: var(--global-primary-color);
}

.easy-alert.easy-alert-success {
    border: 1px solid var(--global-success-color);
    background-color: rgba(var(--global-success-color-rgb), 0.15);
}

.easy-alert.easy-alert-success .easy-alert-icon,
.easy-alert.easy-alert-success .easy-alert-content h3,
.easy-alert.easy-alert-success .easy-alert-content p,
.easy-alert.easy-alert-success .easy-alert-close i {
    color: var(--global-success-color);
}

.easy-alert.easy-alert-warning {
    border: 1px solid var(--global-warning-color);
    background-color: rgba(var(--global-warning-color-rgb), 0.15);
}

.easy-alert.easy-alert-warning .easy-alert-icon,
.easy-alert.easy-alert-warning .easy-alert-content h3,
.easy-alert.easy-alert-warning .easy-alert-content p,
.easy-alert.easy-alert-warning .easy-alert-close i {
    color: var(--global-warning-color);
}

.easy-alert.easy-alert-danger {
    border: 1px solid var(--global-danger-color);
    background-color: rgba(var(--global-danger-color-rgb), 0.15);
}

.easy-alert.easy-alert-danger .easy-alert-icon,
.easy-alert.easy-alert-danger .easy-alert-content h3,
.easy-alert.easy-alert-danger .easy-alert-content p,
.easy-alert.easy-alert-danger .easy-alert-close i {
    color: var(--global-danger-color);
}

/***步骤条********/
.easy-step {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.easy-step .easy-step-item {
    width: 200px;
    position: relative;
}

.easy-step .easy-step-item:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c7c7c7;
    position: absolute;
    top: 16px;
    left: 0;
}

.easy-step .easy-step-over:before {
    background-color: var(--global-primary-color);
}

.easy-step .easy-step-item:first-child:before {
    left: 50%;
    width: 50%;
}

.easy-step .easy-step-item:last-child:before {
    width: 50%;
}

.easy-step .easy-step-item .easy-step-item-number {
    width: 30px;
    height: 30px;
    border: 1px solid var(--global-primary-color);
    border-radius: 50%;
    overflow: hidden;
    font-size: 16px;
    color: var(--global-primary-color);
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.easy-step .easy-step-over .easy-step-item-number {
    background-color: var(--global-primary-color);
    color: #fff;
}

.easy-step .easy-step-item .easy-step-item-title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #555;
}

.easy-step .easy-step-over .easy-step-item-title {
    color: var(--global-primary-color);
}

.easy-step .easy-step-item .easy-step-item-tips {
    text-align: center;
    font-size: 14px;
    color: #999;
}

/*详情*/
.easy-info .easy-info-grid {
    display: flex;
    margin: 10px 0;
}

.easy-info .easy-info-grid-center {
    align-items: center;
}

.easy-info .easy-info-grid .easy-info-grid-left {
    width: 100px;
    min-width: 100px;
    color: #333;
}

.easy-info .easy-info-grid .easy-info-grid-right {
    color: #666;
    word-break: break-all;
    padding-right: 15px;
}

/*面板分割*/
.split {
    display: none;
}

.split-fill {
    height: 100%;
    overflow: auto;
}

.split-horizontal {
    display: flex;
    flex-direction: row;
}

.split-horizontal .gutter-horizontal {
    background-color: #f8f8f9;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: col-resize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.split-horizontal .gutter-horizontal:before,
.split-horizontal .gutter-horizontal:after {
    content: "";
    height: 6px;
    width: 100%;
    margin: 3px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*横向*/
.split-vertical {
    display: block;
}

.split-vertical .gutter-vertical {
    background-color: #f8f8f9;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: row-resize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-vertical .gutter-vertical:before,
.split-vertical .gutter-vertical:after {
    content: "";
    width: 6px;
    height: 100%;
    margin: 0 3px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/*下拉菜单*/
.easy-menu .layui-menu {
    margin: 0;
}

.easy-menu .layui-menu li {
    margin: 0;
    padding: 6px 15px 6px 10px;
    border-bottom: 1px solid #eee;
}

/*联级选择器*/
.el-input__inner {
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
}

/*图片预览*/
.easy-preview {
    display: flex;
}

.easy-preview img {
    width: 120px;
    height: 120px;
    cursor: zoom-in;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

/*地图选择器*/
.map {
    width: 100%;
    height: 550px;
    user-select: none;
}

.map-search {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 350px;
    transform: translateX(-50%);
    z-index: 10000;
}

.map-search .map-search-container {
    display: flex;
    border: 1px solid var(--global-primary-color);
}

.map-search .map-search-input,
.map-search .map-search-button {
    padding: 0;
    border: 0;
    margin: 0;
    height: 30px;
    box-sizing: border-box;
}

.map-search .map-search-input {
    width: 290px;
    padding: 0 10px;
}

.map-search .map-search-button {
    width: 60px;
    cursor: pointer;
    background-color: var(--global-primary-color);
    color: #fff;
}

.map-search .map-search-result {
    background-color: #fff;
}

.map-search .map-search-result .map-search-item {
    padding: 5px 10px;
    cursor: pointer;
}

.map-search .map-search-result .map-search-item:hover {
    background-color: #eee;
}

.map-search .map-search-result .map-search-item:first-child {
    padding-top: 10px;
}

.map-search .map-search-result .map-search-item:last-child {
    padding-bottom: 10px;
}

.map-search .map-search-result .map-search-empty {
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    color: #999;
}

.map-search .map-search-result h3 {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.map-search .map-search-result p {
    font-size: 12px;
    line-height: 1.4;
    color: #999;
}

/*附件上传*/
.attach {
    padding: 20px !important;
}

.attach-wrap {
    min-height: 552px;
    margin: 15px -7px 5px;
}

.attach-list {
    display: flex;
    flex-wrap: wrap;
}

.attach-grid {
    width: 140px;
    margin: 7px;
    position: relative;
}

.attach-upload {
    position: relative;
    cursor: pointer;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.attach-thumb {
    width: 134px;
    height: 134px;
    display: block;
    object-fit: cover;
}

.attach-check {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--global-primary-color);
    visibility: hidden;
    border-radius: 3px;
}

.attach-checked .attach-check {
    visibility: visible;
}

.attach-upload.attach-checked {
    border-color: var(--global-primary-color);
}

.attach-name {
    width: 100%;
    padding: 0 5px;
    color: #666;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.attach-tool {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 12px;
    display: flex;
    box-sizing: border-box;
    visibility: hidden;
    justify-content: space-between;
}

.attach-tool span {
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}

.attach-grid:hover .attach-tool {
    visibility: visible;
}

.attach-page {
    text-align: center;
}

.attach-page .layui-laypage a,
.attach-page .layui-laypage span {
    margin: 0 5px;
}

.attach-loading,
.attach-empty {
    flex: 1;
    color: #666;
    font-size: 14px;
    line-height: 400px;
    text-align: center;
}

/*图片上传*/
.easy-upload-image,
.easy-upload-image-list {
    display: flex;
    flex-wrap: wrap;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item {
    position: relative;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item,
.easy-upload-image .easy-upload-image-btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: zoom-in;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item .easy-upload-image-item-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item span {
    color: #fff;
    float: left;
    padding: 5px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item:hover span {
    display: block;
}

.easy-upload-image .easy-upload-image-list .easy-upload-image-item span:hover {
    opacity: 0.8;
}

.easy-upload-image .easy-upload-image-btn button {
    width: 120px;
    height: 120px;
    background-color: #fff;
    position: relative;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
}

.easy-upload-image .easy-upload-image-btn button:hover {
    border-color: var(--global-primary-color);
    color: var(--global-primary-color);
}

.easy-upload-image .easy-upload-image-btn button[disabled]:hover {
    border-color: #e6e6e6;
    color: #ccc;
    cursor: no-drop;
}

/*文件上传*/
.easy-upload-file-btn {
    margin-top: 4px;
}

.easy-upload-file-list {
    max-width: 800px;
    margin-top: 10px;
}

.easy-upload-file-item {
    display: flex;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.easy-upload-file-item:last-child {
    border-bottom: 1px solid #eee;
}

.easy-upload-file-name,
.easy-upload-file-size,
.easy-upload-file-tool {
    padding: 8px 10px;
    border-right: 1px solid #eee;
}

.easy-upload-file-name {
    flex: 1;
}

.easy-upload-file-size {
    width: 100px;
    text-align: center;
}

.easy-upload-file-tool {
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
}

.easy-upload-file-tool span {
    color: #333;
    cursor: pointer;
}

.easy-upload-file-tool .easy-upload-file-next {
    margin: 0 10px;
}

/*编辑器*/
.edui-default .edui-for-uploadimage .edui-icon:before {
    content: "\edfc"
}

.edui-default .edui-for-uploadfile .edui-icon:before {
    content: "\e704"
}