/************样式重置****************/
body {
    background-color: #f5f7f9;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.2);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.layui-content {
    padding: 15px;
}

.layui-circle {
    object-fit: cover;
}

/***********表单************************/
.layui-input:focus,
.layui-textarea:focus {
    border-color: #009688 !important;
}

.layui-form-danger + .layui-form-select .layui-input,
.layui-form-danger:focus {
    border-color: #FF5722 !important;
}


label.layui-required:before {
    content: "*";
    color: red;
    margin-right: 2px;
}

.layui-form-item > .layui-form-label {
    width: 120px;
}

.layui-form-item > .layui-input-block {
    margin-left: 150px;
}

/*********************分页****************************/
.paginator .layui-laypage {
    width: 100%;
    text-align: center;
    margin: 0;
}

.paginator .layui-laypage a,
.paginator .layui-laypage span {
    margin: 0 5px;
}

/******************alert*****************************/
.alert {
    border: 1px solid #cccccc;
    background-color: #e8e8e8;
    border-radius: 2px;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}

.alert::after,
.alert::before {
    content: "";
    display: table;
    clear: both;
}

.alert .alert-icon {
    width: 70px;
    float: left;
    color: #999;
}

.alert .alert-icon i {
    font-size: 46px;
}

.alert .alert-content {
    padding-right: 30px;
}

.alert .alert-icon + .alert-content {
    margin-left: 70px;
}

.alert .alert-content h3 {
    color: #666;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert .alert-content p {
    color: #666;
}

.alert .alert-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.alert .alert-close i {
    color: #666;
    font-size: 16px;
    opacity: 0.4;
}

.alert .alert-close:hover i {
    opacity: 1;
}

/*default*/
.alert.alert-default {
    border: 1px solid #2d8cf0;
    background-color: #cfe7ff;
}

.alert.alert-default .alert-icon,
.alert.alert-default .alert-content h3,
.alert.alert-default .alert-content p,
.alert.alert-default .alert-close i {
    color: #2d8cf0;
}


/*success*/
.alert.alert-success {
    border: 1px solid #19be6b;
    background-color: #d0ffe7;
}

.alert.alert-success .alert-icon,
.alert.alert-success .alert-content h3,
.alert.alert-success .alert-content p,
.alert.alert-success .alert-close i {
    color: #19be6b;
}

/*info*/
.alert.alert-info {
    border: 1px solid #2db7f5;
    background-color: #d3f1ff;
}

.alert.alert-info .alert-icon,
.alert.alert-info .alert-content h3,
.alert.alert-info .alert-content p,
.alert.alert-info .alert-close i {
    color: #2db7f5;
}

/*warning*/
.alert.alert-warning {
    border: 1px solid #ff9900;
    background-color: #ffefd7;
}

.alert.alert-warning .alert-icon,
.alert.alert-warning .alert-content h3,
.alert.alert-warning .alert-content p,
.alert.alert-warning .alert-close i {
    color: #ff9900;
}

/*error*/
.alert.alert-error {
    border: 1px solid #ed4014;
    background-color: #ffd2c6;
}

.alert.alert-error .alert-icon,
.alert.alert-error .alert-content h3,
.alert.alert-error .alert-content p,
.alert.alert-error .alert-close i {
    color: #ed4014;
}


/**
  面包屑导航
 */
.layui-breadcrumb-container {
    padding: 15px;
    background-color: #fff;
    position: relative;
}

.layui-breadcrumb a {
    color: #666 !important;
}

.easy-breadcrumb-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border-radius: 50%;
    background-color: #eee;
    display: none;
}

.easy-breadcrumb-close-show {
    display: block !important;
}

.easy-breadcrumb-close:hover {
    background-color: #e7e7e7;
}

/*********************表格*******************/
.layui-table-cell {
    height: auto;
}

.layui-table {
    color: #333;
}

/********************treeTable*************************/
.ew-tree-table .ew-tree-table-tool {
    background-color: #fafafa !important;
}

/***********************xmSelect*******************/

xm-select > .xm-body {
    animation-name: layui-upbit !important;
}

xm-select > .xm-body .xm-body-tree .xm-option-content {
    color: #000;
}

xm-select > .xm-body .xm-body-tree .xm-tree-icon {
    border-left-color: #333;
}

xm-select > .xm-body .xm-body-tree .selected .xm-tree-icon {
    border-left-color: #fff;
}

xm-select > .xm-body .xm-body-tree .xm-tree-icon {
    transition: none;
    -webkit-transition: none;
}

/*******************弹出曾自定义主题************/
.easy-iframe.layui-layer-border {
    border: none;
}

.easy-iframe-transparent .layui-layer-load {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.easy-iframe-transparent.layui-layer {
    background-color: transparent !important;
}

.easy-iframe-transparent.layui-layer-border {
    border: none;
}

/********************弹出层*****************************/
.easy-alert {
    border: 1px solid #009688;
    background-color: #f0fffe;
    border-radius: 2px;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}

.easy-alert::after,
.easy-alert::before {
    content: "";
    display: table;
    clear: both;
}

.easy-alert .easy-alert-icon {
    width: 70px;
    float: left;
    color: #009688;
}

.easy-alert .easy-alert-icon i {
    font-size: 46px;
}

.easy-alert .easy-alert-content {
    padding-right: 30px;
}

.easy-alert .easy-alert-icon + .easy-alert-content {
    margin-left: 70px;
}

.easy-alert .easy-alert-content h3 {
    color: #009688;
    font-weight: bold;
    margin-bottom: 5px;
}

.easy-alert .easy-alert-content p {
    color: #009688;
}

.easy-alert .easy-alert-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.easy-alert .easy-alert-close i {
    color: #666;
    font-size: 16px;
    opacity: 0.4;
}

.easy-alert .easy-alert-close:hover i {
    opacity: 1;
}

.easy-alert.easy-alert-primary {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.easy-alert.easy-alert-primary .easy-alert-icon,
.easy-alert.easy-alert-primary .easy-alert-content h3,
.easy-alert.easy-alert-primary .easy-alert-content p,
.easy-alert.easy-alert-primary .easy-alert-close i {
    color: #666;
}

.easy-alert.easy-alert-normal {
    border: 1px solid #1E9FFF;
    background-color: #d6eeff;
}

.easy-alert.easy-alert-normal .easy-alert-icon,
.easy-alert.easy-alert-normal .easy-alert-content h3,
.easy-alert.easy-alert-normal .easy-alert-content p,
.easy-alert.easy-alert-normal .easy-alert-close i {
    color: #1E9FFF;
}

.easy-alert.easy-alert-warm {
    border: 1px solid #FFB800;
    background-color: #fff9e7;
}

.easy-alert.easy-alert-warm .easy-alert-icon,
.easy-alert.easy-alert-warm .easy-alert-content h3,
.easy-alert.easy-alert-warm .easy-alert-content p,
.easy-alert.easy-alert-warm .easy-alert-close i {
    color: #FFB800;
}

.easy-alert.easy-alert-danger {
    border: 1px solid #FF5722;
    background-color: #ffdacf;
}

.easy-alert.easy-alert-danger .easy-alert-icon,
.easy-alert.easy-alert-danger .easy-alert-content h3,
.easy-alert.easy-alert-danger .easy-alert-content p,
.easy-alert.easy-alert-danger .easy-alert-close i {
    color: #FF5722;
}

/***********split********************/
.split-group {
    height: calc(100vh - 80px);
}

.split-group .split-item {
    height: 100%;
}

.split-group .split-item > .layui-card {
    height: 100%;
    overflow: auto;
}

/********************layui-form-item-button***************************/
.layui-form-item-button .layui-input-block {
    position: relative;
    padding-right: 95px;
}

.layui-form-item-button .layui-input-block button {
    position: absolute;
    right: 0;
    top: 0;
}

/************选项卡**********************/
.layui-tab {
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #f6f6f6;
}

.layui-tab .layui-tab-content {
    padding: 10px 15px;
    line-height: 24px;
}

.layui-tab .layui-tab-title {
    margin: 0 10px;
}

.layui-tab .layui-tab-title li {
    line-height: 42px;
    margin-left: 10px;
}

.layui-tab .layui-tab-title li:first-child {
    margin-left: 0;
}

/***********************步骤***************************/
.easy-step {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.easy-step .easy-step-item {
    width: 200px;
    position: relative;
}

.easy-step .easy-step-item:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c7c7c7;
    position: absolute;
    top: 16px;
    left: 0;
}

.easy-step .easy-step-over:before {
    background-color: #009688;
}

.easy-step .easy-step-item:first-child:before {
    left: 50%;
    width: 50%;
}

.easy-step .easy-step-item:last-child:before {
    width: 50%;
}

.easy-step .easy-step-item .easy-step-item-number {
    width: 30px;
    height: 30px;
    border: 1px solid #009688;
    border-radius: 50%;
    overflow: hidden;
    font-size: 16px;
    color: #009688;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.easy-step .easy-step-over .easy-step-item-number {
    background-color: #009688;
    color: #fff;
}

.easy-step .easy-step-item .easy-step-item-title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #555;
}

.easy-step .easy-step-over .easy-step-item-title {
    color: #009688;
}

.easy-step .easy-step-item .easy-step-item-tips {
    text-align: center;
    font-size: 14px;
    color: #999;
}

/***********详情**************/
.detail {
    display: flex;
    flex-wrap: wrap;
}

.detail .detail-cell {
    width: 25%;
    display: flex;
    margin: 10px 0;
}

.detail .detail-cell.detail-cell-100 {
    width: 100%;
}

.detail .detail-cell .detail-cell-left {
    width: 100px;
    min-width: 100px;
    color: #333;
}

.detail .detail-cell .detail-cell-right {
    color: #666;
    word-break: break-all;
    padding-right: 15px;
}