* {
    padding: 0;
    margin: 0;
    font-size: 0.38rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

.clearfix:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 0.28rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white !important;
}

.container {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > img {
    height: 300px;
    max-width: 370px;
    margin-right: 130px;
}

.content > h1 {
    font-size: 72px;
    color: #434e59;
    margin-bottom: 20px;
    font-weight: 600;
}

.content > p {
    font-size: 20px;
    color: rgba(0, 0, 0, .45);
    margin-bottom: 20px;
}