* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.one-message {
    padding-top: 180px;
    background: #fff;
    text-align: center;
    height: 100vh;
}

.one-message h1 {
    font-size: 36px;
    color: #434e59;
    font-weight: normal;
    margin: 0 0 15px;
}

.one-message .image {
    width: 120px;
    margin-bottom: 30px;
}

.one-message .tips-text {
    margin-bottom: 30px;
}

.one-message .tips-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
}

.one-message .wait-time {
    margin-right: 3px;
}

.one-message .btn-group {
    display: flex;
    justify-content: center;
}

.one-message .btn-group button:first-child {
    margin-right: 15px;
}