#应用配置
APP_DEBUG=true

#数据库配置
DB_HOSTNAME=127.0.0.1
DB_DATABASE=easyadmin_v4
DB_USERNAME=root
DB_PASSWORD=root
DB_HOSTPORT=3306

#redis配置
REDIS_HOSTNAME=127.0.0.1
REDIS_DATABASE=0
REDIS_PASSWORD=false
REDIS_PREFIX=example:

#rpc配置
RPC_URL=http://127.0.0.1:9100/index/rpc/server
RPC_KEY=8A6896077BC784E676E4F6FDF10820BB
