{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" close="show" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.name}</div>
        <div class="layui-card-body">
            <div class="easy-info">
                <div class="easy-info-grid easy-info-grid-100 easy-info-grid-center">
                    <div class="easy-info-grid-left">登录头像：</div>
                    <div class="easy-info-grid-right">
                        <img src="{$log.avatar}" width="35" height="35" class="layui-circle">
                    </div>
                </div>
                <div class="easy-info-grid easy-info-grid-25">
                    <div class="easy-info-grid-left">登录姓名：</div>
                    <div class="easy-info-grid-right">{$log.real_name}</div>
                </div>
                <div class="easy-info-grid easy-info-grid-25">
                    <div class="easy-info-grid-left">登录账号：</div>
                    <div class="easy-info-grid-right">{$log.account}</div>
                </div>
                <div class="easy-info-grid easy-info-grid-25">
                    <div class="easy-info-grid-left">登录IP：</div>
                    <div class="easy-info-grid-right">{$log.login_ip}</div>
                </div>
                <div class="easy-info-grid easy-info-grid-25">
                    <div class="easy-info-grid-left">登录时间：</div>
                    <div class="easy-info-grid-right">{$log.create_time}</div>
                </div>
                <div class="easy-info-grid easy-info-grid-25">
                    <div class="easy-info-grid-left">登录状态：</div>
                    <div class="easy-info-grid-right">
                        {eq name="$log.status" value="1"}<span class="layui-badge layui-bg-green">登录成功</span>{/eq}
                        {eq name="$log.status" value="2"}<span class="layui-badge">登录失败</span>{/eq}
                    </div>
                </div>
                <div class="easy-info-grid easy-info-grid-100">
                    <div class="easy-info-grid-left">描述信息：</div>
                    <div class="easy-info-grid-right">{$log.description}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>

    layui.use(['easyModule'], function () {

    });
</script>
{/block}