{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.name}</div>
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">登录账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" class="layui-input" placeholder="请输入登录账号">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">管理员姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="real_name" class="layui-input" placeholder="请输入登录姓名">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">登录状态</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value=""></option>
                                <option value="1">登录成功</option>
                                <option value="2">登录失败</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="reset">
                            <i class="fa fa-fw fa-refresh"></i>重置
                        </button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="fa fa-fw fa-search"></i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="clear">
            <i class="fa fa-fw fa-trash"></i>清空日志
        </button>
    </div>
</script>

<script type="text/html" id="avatar">
    <img src="{{d.avatar}}" width="35" height="35" class="layui-circle">
</script>

<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="detail">
        <i class="fa fa-fw fa-search-plus"></i>详情
    </button>
</script>

<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}<span class="layui-badge layui-bg-green">登录成功</span>{{#  } }}
    {{#  if(d.status == 2){ }}<span class="layui-badge">登录失败</span>{{#  } }}
</script>
{/block}

{block name="js"}
<script>
    layui.use(['easyAdmin', 'form', 'table'], function () {

        var form = layui.form;
        var table = layui.table;
        var easyAdmin = layui.easyAdmin;

        table.render({
            id: "table",
            elem: '#table',
            url: "{:url('admin/SystemLoginLog/index')}",
            toolbar: '#toolbar',
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', width: 80},
                {field: 'avatar', title: '头像', width: 80, templet: "#avatar"},
                {field: 'real_name', title: '登录姓名', width: 140},
                {field: 'account', title: '登录账号', width: 140},
                {field: 'description', title: '操作详情'},
                {field: 'login_ip', title: '登录IP', width: 140},
                {field: 'status', title: '状态', width: 100, templet: "#status"},
                {field: 'create_time', title: '登录时间', width: 160},
                {title: '操作', toolbar: '#bar', width: 100}
            ]]
        });

        table.on('toolbar(table)', function (obj) {
            if (obj.event === 'clear') {
                top.layer.confirm("确认清空日志吗？", {
                    icon: 3
                }, function () {
                    easyAdmin.ajaxPost({
                        url: "{:url('admin/SystemLoginLog/clear')}",
                        success: function (result) {
                            var key = top.layer.alert(result.msg, {
                                icon: 1,
                            }, function () {
                                table.reloadData("table");
                                top.layer.close(key);
                            });
                        }
                    });
                });
            }
        });

        table.on('tool(table)', function (obj) {
            if (obj.event === 'detail') {
                easyAdmin.openFrame({
                    content: "{:url('admin/SystemLoginLog/detail')}?id=" + obj.data.id
                });
            }
        });

        form.on("submit(search)", function (obj) {
            event.preventDefault();
            table.reloadData("table", {
                where: obj.field,
                page: {
                    curr: 1
                }
            });
        });

        form.on("submit(reset)", function (obj) {
            table.reloadData("table", {
                where: {},
                page: {
                    curr: 1
                }
            });
        });
    });
</script>
{/block}