{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.name}</div>
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" class="layui-input" placeholder="请输入菜单名称">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="reset">
                            <i class="fa fa-fw fa-refresh"></i>重置
                        </button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="fa fa-fw fa-search"></i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="create">
            <i class="fa fa-fw fa-plus"></i>菜单添加
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="expand">
            <i class="fa fa-fw fa-folder-open"></i>展开全部
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="fold">
            <i class="fa fa-fw fa-folder"></i>收起全部
        </button>
    </div>
</script>

<script type="text/html" id="target">
    {{#  if(d.target == 1){ }}<span class="layui-badge layui-bg-green">默认方式</span>{{#  } }}
    {{#  if(d.target == 2){ }}<span class="layui-badge layui-bg-orange">当前窗口</span>{{#  } }}
    {{#  if(d.target == 3){ }}<span class="layui-badge layui-bg-green">新的窗口</span>{{#  } }}
</script>

<script type="text/html" id="type">
    {{#  if(d.type == 1){ }}<span class="layui-badge layui-bg-green">菜单</span>{{#  } }}
    {{#  if(d.type == 2){ }}<span class="layui-badge layui-bg-orange">按钮</span>{{#  } }}
    {{#  if(d.type == 3){ }}<span class="layui-badge">外链</span>{{#  } }}
</script>

<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-sm" lay-event="update">
        <i class="fa fa-fw fa-edit"></i>修改
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
        <i class="fa fa-fw fa-trash"></i>删除
    </button>
</script>
{/block}

{block name="js"}
<script>

    layui.use(['easyModule', 'form', 'treeTable'], function () {

        var form = layui.form;
        var easyAdmin = layui.easyAdmin;
        var treeTable = layui.treeTable;

        treeTable.render({
            id: "table",
            elem: '#table',
            toolbar: '#toolbar',
            url: "{:url('admin/SystemMenu/index')}",
            tree: {
                data: {
                    isSimpleData: true
                },
                view: {
                    dblClickExpand: false
                },
                customName: {
                    pid: 'parent_id'
                }
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', width: 80},
                {field: 'name', minWidth: 240, title: '菜单名称'},
                {field: 'module', title: "模块"},
                {field: 'controller', title: "控制器"},
                {field: 'action', title: "操作"},
                {field: 'target', title: "打开方式", toolbar: '#target', width: 140},
                {field: 'type', title: "菜单类型", toolbar: '#type', width: 120},
                {field: 'sort', title: '排序', width: 120, edit: "text"},
                {fixed: 'right', title: '操作', toolbar: '#bar', width: 180}
            ]],
            page: false
        });

        treeTable.on('toolbar(table)', function (obj) {
            if (obj.event === 'create') {
                easyAdmin.openLayer("{:url('admin/SystemMenu/create')}");
            }

            if (obj.event === 'expand') {
                treeTable.expandAll('table', true);
            }

            if (obj.event === 'fold') {
                treeTable.expandAll('table', false);
            }
        });

        treeTable.on('edit(table)', function (obj) {
            easyAdmin.http({
                url: "{:url('admin/SystemMenu/sort')}",
                type: "POST",
                data: {
                    id: obj.data.id,
                    sort: obj.value
                },
                success: function (result) {
                    var lay = top.layer.alert(result.msg, {
                        icon: 1,
                    }, function () {
                        treeTable.reload('table');
                        top.layer.close(lay);
                    });
                }
            });
        });

        treeTable.on('tool(table)', function (obj) {

            if (obj.event === 'update') {
                easyAdmin.openLayer("{:url('admin/SystemMenu/update')}?id=" + obj.data.id);
            }

            if (obj.event === 'delete') {
                top.layer.confirm("确认删除吗？", {
                    icon: 3
                }, function () {
                    easyAdmin.http({
                        type: "POST",
                        url: "{:url('admin/SystemMenu/delete')}",
                        data: {
                            id: obj.data.id
                        },
                        success: function (result) {
                            var lay = top.layer.alert(result.msg, {
                                icon: 1,
                            }, function () {
                                obj.del();
                                top.layer.close(lay);
                            });
                        }
                    });
                });
            }
        });

        form.on("submit(search)", function (obj) {
            event.preventDefault();
            treeTable.reloadData('table', {
                where: obj.field
            });
        });

        form.on("submit(reset)", function (obj) {
            treeTable.reloadData('table', {
                where: {}
            });
        });
    });
</script>
{/block}
