{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" close="show" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.title}</div>
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">所属角色</label>
                    <div class="layui-input-block">
                        <div id="role_id"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">头像</label>
                    <div class="layui-input-block">
                        <div id="avatar"></div>
                        <input type="hidden" name="avatar" class="layui-builder-image" lay-verify="required" lay-reqText="请上传头像">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" lay-verify="required" placeholder="请输入昵称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" lay-verify="required" placeholder="请输入账号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" lay-verify="required" placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" checked="">
                        <input type="radio" name="status" value="2" title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="">提交</button>
                        <button type="button" class="layui-btn layui-btn-danger easy-close-this-layer">关闭</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['easyModule'], function () {

        var form = layui.form;
        var easyAdmin = layui.easyAdmin;
        var easyService = layui.easyService;

        avatarUploader.uploader.config.url = "{:url('admin/Manager/upload_avatar')}";

        easyService.render.roleSingleSelect({
            elem: '#role_id',
            setting: {
                name: 'role_id',
                layVerify: 'required'
            }
        });

        form.on('submit', function (obj) {
            event.preventDefault();

            easyAdmin.http({
                type: "POST",
                url: "{:url('admin/Manager/create')}",
                data: obj.field,
                success: function (result) {
                    var key = top.layer.alert(result.msg, {
                        icon: 1,
                    }, function () {
                        parent.layui.table.reload("table");
                        top.layer.close(key);
                        easyAdmin.closeLayer();
                    });
                }
            });
        });

    });
</script>
{/block}