{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.title}</div>
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="account" class="layui-input" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value=""></option>
                                <option value="1">启用</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="reset">
                            <i class="fa fa-fw fa-refresh"></i>重置
                        </button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="fa fa-fw fa-search"></i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="create">
            <i class="fa fa-fw fa-plus"></i>管理员添加
        </button>
    </div>
</script>

<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-sm" lay-event="update">
        <i class="fa fa-fw fa-edit"></i>修改
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
        <i class="fa fa-fw fa-trash"></i>删除
    </button>
</script>

<script type="text/html" id="avatar">
    <img src="{{d.avatar}}" width="35" height="35" class="layui-circle">
</script>

<script type="text/html" id="is_system">
    {{#  if(d.is_system == 1){ }}<span class="layui-badge layui-bg-green">是</span>{{#  } }}
    {{#  if(d.is_system == 2){ }}<span class="layui-badge">否</span>{{#  } }}
</script>

<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}<span class="layui-badge layui-bg-green">启用</span>{{#  } }}
    {{#  if(d.status == 2){ }}<span class="layui-badge">禁用</span>{{#  } }}
    {{#  if(d.status == 3){ }}<span class="layui-badge layui-bg-orange">锁定</span>{{#  } }}
</script>
{/block}

{block name="js"}
<script type="text/javascript">
    layui.use(['easyModule'], function () {

        var form = layui.form;
        var table = layui.table;
        var easyAdmin = layui.easyAdmin;

        table.render({
            id: "table",
            elem: '#table',
            url: "{:url('admin/Manager/index')}",
            toolbar: '#toolbar',
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', width: 80},
                {field: 'avatar', title: '头像', width: 80, templet: "#avatar"},
                {field: 'account', title: '账号', width: 240},
                {field: 'real_name', title: '姓名'},
                {field: 'is_system', title: '系统内置', width: 120, templet: "#is_system"},
                {field: 'status', title: '状态', width: 100, templet: "#status"},
                {field: 'login_time', title: '登录时间', width: 160},
                {title: '操作', toolbar: '#bar', width: 170}
            ]]
        });

        table.on('toolbar(table)', function (obj) {
            if (obj.event === 'create') {
                easyAdmin.openLayer("{:url('admin/Manager/create')}");
            }
        });

        table.on('tool(table)', function (obj) {
            if (obj.event === 'update') {
                easyAdmin.openLayer("{:url('admin/Manager/update')}?id=" + obj.data.id);
            }

            if (obj.event === 'delete') {
                top.layer.confirm('确定删除吗？', {
                    icon: 3,
                }, function () {
                    easyAdmin.http({
                        type: "POST",
                        url: "{:url('admin/Manager/delete')}",
                        data: {
                            id: obj.data.id
                        },
                        success: function (result) {
                            var key = top.layer.alert(result.msg, {
                                icon: 1,
                            }, function () {
                                layui.table.reload("table");
                                top.layer.close(key);
                            });
                        }
                    });
                });
            }
        });

        form.on("submit(search)", function (obj) {
            event.preventDefault();
            table.reload("table", {
                where: obj.field,
                page: {
                    curr: 1
                },
            });
        });

        form.on("submit(reset)", function (obj) {
            table.reload("table", {
                where: {},
                page: {
                    curr: 1
                },
            });
        });
    });
</script>
{/block}
