{extend name="admin@layout/layout" /}

{block name="content"}
{include file="admin@layout/breadcrumb" /}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.title}</div>
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-inline">
                            <input value="" type="text" name="title" class="layui-input" placeholder="请输入菜单名称">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="reset">
                            <i class="fa fa-fw fa-refresh"></i>重置
                        </button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="fa fa-fw fa-search"></i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="create">
            <i class="fa fa-fw fa-plus"></i>添加节点
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="expand">
            <i class="fa fa-fw fa-folder-open"></i>展开全部
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="fold">
            <i class="fa fa-fw fa-folder"></i>收起全部
        </button>
    </div>
</script>

<script type="text/html" id="target">
    {{#  if(d.target == 1){ }}
    <span class="layui-badge layui-bg-green">默认方式</span>
    {{#  } else if(d.target == 2) { }}
    <span class="layui-badge layui-bg-orange">当前窗口</span>
    {{#  } else if(d.target == 3) { }}
    <span class="layui-badge">新窗口</span>
    {{#  } }}
</script>

<script type="text/html" id="type">
    {{#  if(d.type == 1){ }}
    <span class="layui-badge layui-bg-green">菜单</span>
    {{#  } else if(d.type == 2) { }}
    <span class="layui-badge layui-bg-orange">按钮</span>
    {{#  } else if(d.type == 3) { }}
    <span class="layui-badge">外链</span>
    {{#  } }}
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-sm" lay-event="update">
        <i class="fa fa-fw fa-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
        <i class="fa fa-fw fa-trash"></i>删除
    </a>
</script>
{/block}

{block name="js"}
<script type="text/javascript">

    var table;

    layui.use(['easyAdmin', 'form', "treeTable"], function () {

        var form = layui.form;
        var easyAdmin = layui.easyAdmin;
        var treeTable = layui.treeTable;

        table = treeTable.render({
            elem: '#table',
            toolbar: '#toolbar',
            url: "{:url('admin/Menu/index')}",
            cellMinWidth: 80,
            tree: {
                iconIndex: 2,
                idName: "id",
                pidName: "parent_id",
                isPidData: true,
                getIcon: function (d) {
                    return '<i class="fa fa-fw ' + d.icon + '"></i> ';
                }
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', width: 80},
                {field: 'title', minWidth: 160, title: '权限名称'},
                {field: 'module', title: "模块"},
                {field: 'controller', title: "控制器"},
                {field: 'action', title: "操作"},
                {field: 'target', title: "打开方式", toolbar: '#target', width: 140},
                {field: 'type', title: "菜单类型", toolbar: '#type', width: 120},
                {field: 'sort', title: '排序', width: 120, edit: "text"},
                {fixed: 'right', title: '操作', toolbar: '#bar', width: 180}
            ]],
            parseData: function (result) {
                return {
                    "msg": result.msg,
                    "data": result.data.list,
                    "code": result.code === 1 ? 0 : result.code
                }
            }
        });


        treeTable.on('toolbar(table)', function (obj) {

            if (obj.event === 'create') {
                easyAdmin.openLayer("{:url('admin/Menu/create')}");
            }

            if (obj.event === 'expand') {
                table.expandAll();
            }

            if (obj.event === 'fold') {
                table.foldAll();
            }

        });

        // 菜单排序
        treeTable.on('edit(table)', function (obj) {
            easyAdmin.http({
                url: "{:url('admin/Menu/sort')}",
                type: "POST",
                data: {
                    id: obj.data.id,
                    sort: obj.value
                },
                success: function (result) {
                    var lay = top.layer.alert(result.msg, {
                        icon: 1,
                    }, function () {
                        table.reload();
                        top.layer.close(lay);
                    });
                }
            });
        });

        // 工具栏监听
        treeTable.on('tool(table)', function (obj) {

            if (obj.event === 'update') {
                easyAdmin.openLayer("{:url('admin/Menu/update')}?id=" + obj.data.id);
            }

            if (obj.event === 'delete') {
                top.layer.confirm("确认删除 " + obj.data.title + "？", {
                    icon: 3
                }, function () {
                    easyAdmin.http({
                        type: "POST",
                        url: "{:url('admin/Menu/delete')}",
                        data: {
                            id: obj.data.id
                        },
                        success: function (result) {
                            var lay = top.layer.alert(result.msg, {
                                icon: 1,
                            }, function () {
                                top.layer.close(lay);
                            });
                            obj.del();
                        }
                    });
                });
            }

        });

        form.on("submit(search)", function (obj) {
            event.preventDefault();
            table.filterData(obj.field.title);
        });

        form.on("submit(reset)", function (obj) {
            table.clearFilter();
        });
    });
</script>
{/block}
