{extend name="admin@layout/layout" /}

{block name="content"}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.title}</div>
        <div class="layui-card-body">
            <div class="layui-form-item layui-form-item-button">
                <label class="layui-form-label">文件选择</label>
                <div class="layui-input-block">
                    <input type="text" name="file_path" placeholder="请选择文件" readonly class="layui-input">
                    <button type="button" class="layui-btn" id="upload">
                        <i class="layui-icon layui-icon-upload-drag"></i>上传
                    </button>
                </div>
            </div>

            <br>
            <br>

            <!--导入标签库-->
            {taglib name="\app\common\taglib\Permission" /}

            {permission:allow menu="1,2" condition="and"}
                <h1>已授权</h1>
            {else/}
                <h1>未授权</h1>
            {/permission:allow}
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['easyModule'], function () {

        var uploadFile = layui.uploadFile;

        new uploadFile({
            id: "upload",
            url: "{:url('admin/Upload/file')}",
            check_url: "{:url('admin/Upload/check')}"
        });
    });
</script>
{/block}