{extend name="admin@layout/layout" /}

{block name="content"}
<div class="layui-fluid layui-content">
    <div class="layui-card">
        <div class="layui-card-header">{$currentMenu.title}</div>
        <div class="layui-card-body">
            <button type="button" class="layui-btn" id="upload">提交</button>

            <br>
            <br>

            <!--导入标签库-->
            {taglib name="\app\admin\taglib\Permission" /}

            {permission:allow menu="1,2" condition="and"}
                <h1>已授权</h1>
            {else/}
                <h1>未授权</h1>
            {/permission:allow}
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['easyAdmin'], function () {

        var loading = null;
        var easyAdmin = layui.easyAdmin;

        let up = new fcup({
            id: "upload",
            url: "{:url('admin/Home/upload')}",
            check_url: "{:url('admin/Home/check')}",
            type: "zip",
            shard_size: 2,
            max_size: 200,
            error_msg: {
                1000: "未找到上传id",
                1001: "类型不允许上传",
                1002: "上传文件过小",
                1003: "上传文件过大",
                1004: "上传请求超时"
            },
            start: function () {
                console.log(1);
            },
            // 错误提示
            error: function (message) {
                console.log(message);
            },
            // 等待上传事件，可以用来loading
            before_send: function () {
                console.log('等待请求中');
                loading = easyAdmin.showLoading();
            },
            // 上传进度事件
            progress: function (progress) {
                console.log("上传进度：" + progress);
            },
            check_success: function (response) {

                var result = JSON.parse(response);

                if (result.code === 1101) {
                    console.log(result.data.filePath);
                    top.layer.alert(result.msg);
                    return false;
                }

                return true;
            },
            success: function (response) {

                var result = JSON.parse(response);

                if (result.data.isDone) {
                    top.layer.close(loading);
                    console.log('上传完成', result);
                }

                return true;
            }
        });

    });
</script>
{/block}