<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="<?php echo register_static('admin/plugin/layui/css/layui.css'); ?>"/>
    <link rel="stylesheet" href="<?php echo register_static('admin/css/exception.css'); ?>"/>
</head>
<body>
<div class="content">
    <img src="<?php echo register_static('admin/img/404.svg'); ?>" alt="">
    <div class="content-r">
        <h1>404</h1>
        <p>抱歉，您访问的页面不存</p>
        <button class="layui-btn">返回首页</button>
    </div>
</div>
<script src="<?php echo register_static('admin/plugin/layui/layui.js'); ?>"></script>
<script src="<?php echo register_static('admin/lay-config.js'); ?>"></script>
</body>
</html>